<div>
  <AppBar title="Food of the month"></AppBar>
  <v-content>
    <v-tabs centered icons-and-text>
      <v-tab>
        Vegetables
        <v-icon color="primary">fas fa-carrot</v-icon>
      </v-tab>
      <v-tab>
        Fruits
        <v-icon color="primary">fas fa-apple-alt</v-icon>
      </v-tab>
      <v-tab>
        Cereals
        <v-icon color="primary">fas fa-seedling</v-icon>
      </v-tab>

      <v-tab-item>
        <v-container>
          <v-layout row wrap justify-space-around>
            <VeggieCard
              v-for="veg in favVegetables"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :imgUrl="veg.url"
              :months="veg.months"
            ></VeggieCard>
            <VeggieCard
              v-for="veg in notFavVegetables"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :imgUrl="veg.url"
              :months="veg.months"
            ></VeggieCard>
          </v-layout>
          <v-spacer></v-spacer>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container>
          <v-layout row wrap justify-space-around>
            <VeggieCard
              v-for="veg in favFruits"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :months="veg.months"
              :imgUrl="veg.url"
            ></VeggieCard>
            <VeggieCard
              v-for="veg in notFavFruits"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :months="veg.months"
              :imgUrl="veg.url"
            ></VeggieCard>
          </v-layout>
        </v-container>
      </v-tab-item>

      <v-tab-item>
        <v-container>
          <v-layout row wrap justify-space-around>
            <VeggieCard
              v-for="veg in favCereals"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :imgUrl="veg.url"
              :months="veg.months"
            ></VeggieCard>
            <VeggieCard
              v-for="veg in notFavCereals"
              v-if="veg.months.includes(currentMonth)"
              :key="veg.name"
              :name="veg.name"
              :imgUrl="veg.url"
              :months="veg.months"
            ></VeggieCard>
          </v-layout>
        </v-container>
      </v-tab-item>
    </v-tabs>
  </v-content>
</div>
