<v-card class="mb-2" max-width="400" width="100%">
  <v-img
    class="white--text"
    height="150px"
    :src="imgUrl"
    gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.4)"
  >
    <v-card-title class="align-end fill-height">{{ nameEng }}</v-card-title>
  </v-img>

  <transition name="fade">
    <v-card-text
      key="buttons"
      v-if="!displayMonthChart"
      style="background-color: rgba(0,0,0,0); position: absolute; z-index: 2; top: 0; left: 0; height: 100%; width: 100%; display: flex; align-items: flex-end; padding-bottom: 8px"
    >
      <v-spacer></v-spacer>
      <v-btn
        v-if="isFavorite"
        icon
        color="#ffd700"
        @click="removeFromFavorites(name)"
      >
        <v-icon>fas fa-star</v-icon>
      </v-btn>
      <v-btn v-else icon color="white" @click="addToFavorites(name)">
        <v-icon>far fa-star</v-icon>
      </v-btn>
      <v-btn icon color="white" @click="openMonthChart">
        <v-icon>far fa-calendar-alt</v-icon>
      </v-btn>
    </v-card-text>

    <v-card-text
      key="monthChart"
      v-else
      style="background-color: rgba(0,0,0,0.5); position: absolute; z-index: 2; top: 0; left: 0; height: 100%; width: 100%"
    >
      <v-btn text icon color="white" right absolute @click="closeMonthChart">
        <v-icon>fas fa-times</v-icon>
      </v-btn>
      <MonthChart :vegMonths="months"></MonthChart>
    </v-card-text>
  </transition>
</v-card>
